body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }
  body .modal {
    background-color: #0000003d; }
    body .modal-dialog {
      max-width: 800px; }
  body .container-fluid {
    padding: 0; }
  body .form-group {
    position: relative; }
    body .form-group label {
      position: absolute;
      font-size: 20px;
      transition: all .3s ease-in;
      cursor: text; }
  body .form-control {
    font-size: 20px;
    padding: 10px 10px; }
  body .btn {
    font-size: 20px; }
  body .navbar {
    margin-bottom: 60px; }
  body .navbar-end {
    justify-content: end; }
  body .table {
    max-width: 800px;
    border-radius: 10px;
    margin: auto; }
  body .table-dark th {
    text-align: center; }
  body .authorization {
    width: 100%;
    height: 100vh; }
  body .claims__row {
    cursor: pointer;
    transition: all .3s; }
    body .claims__row:hover {
      background-color: #474747;
      transition: all .3s; }
  body .claims__row-add td {
    text-align: center; }
  body .claims__head_cell {
    border-top: none; }
  body .chat__body {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border: 1px #8080805c solid;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 30px; }
  body .chat__message {
    width: 100%;
    background-color: gainsboro;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px; }
  body .chat__message-my {
    background-color: #0000ff59;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0; }
