@import './modal.scss';

.container-fluid{
    padding: 0;
}

.form-group{
    position: relative;

    label{
        position: absolute;
        font-size: 20px;
        transition: all .3s ease-in;
        cursor: text;
    }
}

.form-control{
    font-size: 20px;
    padding: 10px 10px;
}

.btn{
    font-size: 20px;
}

.navbar{
    margin-bottom: 60px;
}

.navbar-end{
    justify-content: end;
}

.table{
    max-width: 800px;
    border-radius: 10px;
    margin:auto;
}

.table-dark th{
    text-align: center;
}

