.chat{
    
    &__body{
        width: 100%;
        height: 400px;
        overflow-y: auto;
        border: 1px #8080805c solid;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 30px;
    }

    &__message{
        width: 100%;
        background-color: gainsboro;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        padding: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    &__message-my{
        background-color: #0000ff59;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
    }

}