body{
    padding: 0;
    margin:0;
    overflow-x: hidden;

    @import './change_bootstrap.scss';
    @import './authorization.scss';
    @import './table_claims.scss';
    @import './chat.scss';
    @import './creator.scss';
}