.claims{
    &__row{
        cursor: pointer;
        transition: all .3s;

        &:hover{
            background-color: #474747;
            transition: all .3s;
        }
    }

    &__row-add{
        td{
            text-align: center;
        }
    }

    &__head_cell{
        border-top: none;
    }
}